@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

body {
  background-color: black;
}

.home {
  padding-left: 5%;
  padding-top: 5%;
  background: url("img/foto-Maurizio.jpg");
  background-size: cover;
  height: 650px;
}
.home h1 {
  font-size: 5em;
  color: white;
  margin-top: 50%;
  font-family: "Roboto";
  font-weight: 400;
}
