@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

body {
  background-color: black;
  font-family: 'Lato', sans-serif;
  position: relative;
  color: white;
}
.navbar a:hover {
  color: #FFCA2C  !important;
}
.nav-item {
  margin-left: 5%;
}

.bi:hover {
  color: #FFCA2C;
}

.sezione-home {
  width: 100vw;
  height: 700px;
  background: url(img/foto-maurizio-bw-2.jpg);
  background-size: cover;
}


 .sezione-home h1 {
   color: white;
   margin-top: 25%;
   font-weight: 700;
 }

 .sezione-home h2 {
   color: #e6e6e6;
   margin-top: 5%;
   font-family: "Open Sans";
   font-weight: 300;
 }

.sezione-home button {
  margin-top: 5%;
}

.sezione-home button a {
  text-decoration: none;
  color: black;
}

.sezione-seo, .sezione-chi-sono, .sezione-contatti {
  color: white;
  height: 700px;
  width: 100vw;
}
.sezione-seo h2, .sezione-chi-sono h2, .sezione-contatti h2 {
  margin-top: 6%;
  font-weight: 400;
}

.sezione-seo h3 {
  margin-top: 5%;
}

.sezione-seo p, .sezione-chi-sono p {
  text-align: justify;
  font-family: "Open Sans";
  font-weight: 300;
}

.sezione-seo a:hover, .sezione-seo a:visited:hover, .sezione-chi-sono a:hover,
.sezione-chi-sono a:visited:hover {
  color: #FFCA2C;
}

.sezione-seo a:visited, .sezione-chi-sono a:visited {
  color: white;
}

.giallo {
  color: #FFCA2C;
}

.sezione-chi-sono h3, .sezione-contatti h3 {
  margin-top: 3%;
  font-weight: 400;
}

.table {
  font-family: "Open Sans";
  text-align: center;
  color: white;
  border-color: black;
}

thead {
  text-align: center;
  color: #FFCA2C;
}

.form-group {
  margin-top: 2%;
}

.sezione-blog {
  height: 700px;
}

.sezione-blog h1 {
  margin-top: 7%;
  color: white;
  text-align: center;
  font-size: 3em;
  font-family: 'Lato', sans-serif;
}

.sezione-blog h4 {
  text-align: center;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 1.3em;
}

.card .btn {
  background: #FFCA2C;
}

.articoli {
  margin-top: 5%;
}

.active {
  color: #FFCA2C !important;
}

/* STILE PER GLI ARTICOLI */

.articolo h1 {
  font-size: 2em;
  font-family: 'Lato', sans-serif;
  color: white;
  margin-top: 7%;
  text-align: center;
}

.articolo h2 {
  margin-top: 2%;
  font-size: 1em;
  text-align: center;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}


ol {
  counter-reset: item;
 }

li {
  display: block;
 }

 /* MEDIA QUERIES */
