@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

body {
  background-color: black;
  font-family: 'Lato', sans-serif;
}
.navbar a:hover {
  color: yellow  !important;
}
.nav-item {
  margin-left: 5%;
}

.bi:hover {
  color: yellow;
}

.home {
  width: 100%;
  height: 700px;
  background: url(img/foto-maurizio-bw-2.jpg);
  background-size: cover;
}


 .home h1 {
   color: white;
   margin-top: 35%;
   font-weight: 700;
 }

 .home h2 {
   color: #e6e6e6;
   margin-top: 5%;
   font-family: "Open Sans";
   font-weight: 300;
 }

.home button {
  margin-top: 5%;
}

.seo {
  color: white;
  height: 700px;
}
.seo h2 {
  margin-top: 6%;
  font-weight: 400;
}

.seo h3 {
  margin-top: 5%;
}

.seo p {
  text-align: justify;
  font-family: "Open Sans";
  font-weight: 300;
}

.seo a:hover, .seo a:visited:hover {
  color: yellow;
}

.seo a:visited {
  color: white;
}

.giallo {
  color: yellow;
}
